.header {
    z-index: 999;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid;
    display: flex;
    background: rgb(248, 143, 143);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header .header-tabs {
    margin: auto 0;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.header .title {
    text-decoration: none;
    color: #000;
    margin-left: 2rem;
}

.header .tab {
    margin-left: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.header .tab:last-of-type {
    margin-right: 2rem;
}