.footer {
    z-index: 999;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: rgb(211, 209, 80);
    color: #000;
    text-align: center;
    display: flex;
    border-top: 1px solid;
}

.footer .footer-tabs {
    display: flex;
    margin: auto 0;
}

.footer .tab {
    margin-left: 2rem;
    font-weight: 500;
    color: #000;
}

.footer .tab:first-of-type {
    margin-left: 30rem;
}