.header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid;
    display: flex;
    padding: 0 2rem;
    background: rgb(248, 143, 143);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header .header-tabs {
    margin: auto 0;
    display: flex;
}

.header .title {
    text-decoration: none;
    color: #000;
}

.header .tab {
    margin-left: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.header .tab:first-of-type {
    margin-left: 30rem;
}